extends layout

block content

  h1 Category: #{category.title}

  div(style='margin-left:20px;margin-top:20px')

    h4 Items

    table(class="table table-striped")
      thead
          tr
              th Item
              th Price
              th Available
              
        
      each item in items
        tr
          td
            a(href=item.url) #{item.title}
          td  $ #{item.price}
          td #{item.quantity}
      else
        tr 
          td There are no items.


  hr
  p
    a(href=category.url+'/delete') Delete Category
  p
    a(href=category.url+'/update') Update Category
